.cnuShowPassword .fa-eye {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 9px;
    padding:4px;
    border: 1px solid transparent;
}
.cnuShowPassword .fa-eye:hover{
    background-color: #8c8c8c;
}
.cnuShowPassword {
    display: inline;
    position: relative;
}
.cnuShowPassword input {
    padding-right: 20px;
}