body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 100px auto; 
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 100px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #333;
}
.progressbar li:before {
    width: 50px;
    height: 42px;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0px auto 10px auto;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    padding-top: 10px;
}
.progressbar li:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 25px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:before {
    border-width: 1px;
    border-color: #EB8E02;
    background-color: #EBCB27;
}
.progressbar li.active:after {
    background-color: #EBCB27;
}
.progressbar li.completed:before {
    border-width: 1px;
    border-color: #008542;
    background-color: #8FD724;
}
.progressbar li.completed:after {
    background-color: #8FD724;
}
.progressbar li.todo:before {
    border-width: 1px;
    border-color: #8c8c8c;
    background-color: #B9B9B9;
}
.progressbar li.todo:after {
    background-color: #B9B9B9;
}
@media screen and (max-width: 991px) and (min-width: 750px){
    .progressbar li {
        width: 80px;
        font-size: 10px;
    }
    .progressbar li:before {
        width: 43px;
        height: 40px;
        font-size: 22px;
        padding-top: 5px;
    }
    .progressbar li:after {
        top: 20px;
    }
}
@media screen and (max-width: 750px){
    .progressbar li {
        width: 60px;
        font-size: 9px;
    }
    .progressbar li:before {
        width: 35px;
        height: 30px;
        font-size: 18px;
        padding-top: 3px;
    }
    .progressbar li:after {
        top: 16px;
    }
}