.letter{
    padding:10px 5px;
    cursor: pointer;
    border-bottom: 2px solid #d2d231;
}
.title{
    border-bottom: 4px solid #d2d231;
}
aside{
    width:250px;
    border-right: 2px solid #d2d231;;
}
.top-20{
    margin-top:20px;
}
.wrapper{
    display: flex;
    justify-content: stretch;
    flex: 1 0 auto;
}